<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Sable</string>
    <key>CFBundleName</key>
    <string>Sable</string>
    <key>NSCameraUsageDescription</key>
    <string>Sable needs camera access for video calls.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Sable needs microphone access for voice and video calls.</string>
    <!-- APP-ICON ALTERNATES START -->
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
      <key>propeler</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIconPropeler</string>
        </array>
      </dict>
      </dict>
    </dict>
    <!-- APP-ICON ALTERNATES END -->
</dict>
</plist>
